<!DOCTYPE html>
<head>
    <title>Cover Letter for {{ company }}</title>
</head>
<body>
    <style>
        #header
        {
            text-align: center;
        }
        #intro
        {
            margin: 10px;
        }
        #body
        {
            padding: 10px 30px;
        }
        #outro
        {
            margin: 10px;
        }
    </style>
    <p id="header">Tyler Willson | Owasso, OK. <br>(918)219-9669 | tylerdwillson@gmail.com<br>github.com/tdwillson</p>
    <p id="intro">To whom it may concern at {{ company }}: </p>
    <p id="body">
        My name is Tyler Willson, and I am applying for your {{ position }} position posted online. 
        I would hope that you consider me for this position, because I believe I would make a great fit for your company.
        I have experience with several different programming languages, including Python, Java, and C; 
        web programming with HTML, CSS, Flask, Sass, and Bootstrap.
        I also have familiarity with making and maintaining databases with SQL.
        I believe I would make a great addition to your team, and I will do well in any roll you throw at me. 
        I am a quick learner and can adapt to many different environments with relative ease.
        {{ addon }}
    </p>
    <p id="outro">I appreciate your consideration, Tyler Willson</p>
</body>